{% extends "base.html" %}

{% block title %}Welcome to Team Woff{% endblock %}

{% block content %}
<div class="home-wrapper">
    <h1>🐾 Welcome to Team Woff 🐾</h1>
    <p>
        Connecting dog lovers with trusted walkers near you!
    </p>

    <img src="{{ url_for('static', filename='images/otis.jpg') }}" alt="Otis the Dog" class="hero-img">

    <div class="home-links">
        <a href="{{ url_for('register') }}">Register as a Walker</a>
        <a href="{{ url_for('walkers') }}">View Walkers</a>
    </div>
</div>
{% endblock %}


